*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-bottom: 120px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
    height: 65vh;
}

.bannar-img{
    height: 45vh;
    width: 200px;
    overflow: hidden;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1,.cat-2,.cat-3{
    padding: 10px 30px;
    height: 15vh;
}
.cat-1{
    background-color: orange;
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.img{
    width: 30%;
    height: 90px;
}
.card-footer{
    background-color: white;
    border-top:none ;
    border-radius: 10px;
}
.shoe-img{
    height: 20vh;
    width: 50%;
}
.bag-img{
    height: 30vh;
    width: 40%;
    margin: 0 auto;
}
.submit h6{
    color: gray;
}
footer{
    text-align: center;
}


     /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .buy-now-btn{
        padding-top:10px;
        margin-bottom: 15px;
    }
    .orange-bg{
        background-color: #fceae8;
        border-radius: 10px;
        height: 92vh;
        padding-top:34px;
    }
    .bannar-img{
        height: 35vh;
        width: 200px;
        overflow: hidden;
    }

    .catagori{
        margin-bottom: 20px;
    }
    .img{
        width: 20%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .buy-now-btn{
        padding-top:10px;
        margin-bottom: 15px;
    }
    .orange-bg{
        background-color: #fceae8;
        border-radius: 10px;
        height: 92vh;
        padding-top:34px;
    }
    .bannar-img{
        height: 35vh;
        width: 200px;
        overflow: hidden;
    }

    .catagori{
        margin-bottom: 20px;
    }  
    .img{
        width: 27%;
    }
    .bag-img,.shoe-img{
        width:45% ;
        margin-bottom: 8px;
    }
    .card{
        height: 75vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .buy-now-btn{
        padding-top:10px;
        margin-bottom: 15px;
    }
    .orange-bg{
        background-color: #fceae8;
        border-radius: 10px;
        height: 67vh;
        padding-top:34px;
    }
    .bannar-img{
        height: 35vh;
        width: 200px;
        overflow: hidden;
    }

    .catagori{
        margin-bottom: 20px;
        width: 100%;
    }  

    .img{
        width:25%;
    }
    .bag-img,.shoe-img{
        width:45% ;
        margin-bottom: 8px;
    }
    .card{
        height: 75vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .buy-now-btn{
        padding-top:10px;
        margin-bottom: 10px;
    }
    .orange-bg{
        background-color: #fceae8;
        border-radius: 10px;
        height: 67vh;
        padding-top:34px;
    }
    .bannar-img{
        height: 35vh;
        width: 200px;
        overflow: hidden;
    }

    .catagori{
        margin-bottom: 20px;
        width: 100%;
    }  

    .img{
        width:25%;
    }
    .bag-img,.shoe-img{
        width:45% ;
        margin-bottom: 8px;
    }
    .card{
        height: 75vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .buy-now-btn{
        padding-top:10px;
        margin-bottom: 10px;
    }
    .orange-bg{
        background-color: #fceae8;
        border-radius: 10px;
        height: 67vh;
        padding-top:34px;
    }

    .catagori{
        margin-bottom: 20px;
        width: 100%;
    }  

    .img{
        width:25%;
    }
    .bag-img,.shoe-img{
        width:45% ;
        margin-bottom: 8px;
    }
    .card{
        height: 75vh;
    }
}

    
